.flex-conteiner{
    display: flex;
      flex-direction: column;
      padding: 2px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #beaee4;
}

.flex-item1{
display: flex;
      flex-direction: column;
      
      text-align: center;

}

.flex-item2{
    
          display: flex;
          flex-direction: column;
          padding: 2px;
          border: 2px solid #ccc;
          border-radius: 5px;
          background-color: #db97b9;
          width: 200px;
          
         }

    