/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

/* Estilo do relatório */
.report {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Estilo da galeria de fotos */
.gallery {
    margin: 20px;
    text-align: center;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 999;
}

#fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    margin-top: 5%;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#prev-button,
#next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#prev-button {
    left: 20px;
}

#next-button {
    right: 20px;
}
